<section class="section section-shaped section-lg">

  <div class="container pt-lg-md">
    <div class="card-header bg-white pb-5">

      <div class="text-muted text-center mb-4">
        <div class="display-1">Faire Un Don</div>
      </div>


    </div>
    <div class="container">
      <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" ngNativeValidate>


        <div class="form-group  mb-3 " >
          <select class="form-control" id="type" name="type" ngModel required is-valid>
            <option value=""  disabled selected>Je suis *</option>
            <option value="particulier">Un Particulier</option>
            <option value="entreprise">Une Entreprise</option>
            <option value="association">Une Association</option>
          </select>
        </div>


        <div class="form-group mb-3 flex-nowrap" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-male"></i></span>
            </div>
            <input class="form-control form-control-lg" placeholder="Nom *" type="text" name="nom" (focus)="focus=true"
                   (blur)="focus=false" ngModel required>
          </div>
        </div>

        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-male"></i></span>
            </div>
            <input class="form-control form-control-lg" placeholder="Prénom *" type="text" name="prenom" (focus)="focus=true"
                   (blur)="focus=false" ngModel required>
          </div>
        </div>

        <div class="form-group">

          <select class="form-control" id="sexe" name="sexe" ngModel required>
            <option value=""  disabled selected>Sexe *</option>
            <option value="H">Homme</option>
            <option value="F">Femme</option>
          </select>
        </div>

        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control form-control-lg" placeholder=" Email *" type="email" name="email" (focus)="focus=true"
                   (blur)="focus=false" ngModel required>
          </div>
        </div>

        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i></span>
            </div>
            <input class="form-control form-control-lg" placeholder="Téléphone (Optionnel)" type="text" name="tel" (focus)="focus=true"
                   (blur)="focus=false" ngModel>
          </div>
        </div>


        <div class="form-group">
          <select class="form-control" id="country" name="country" ngModel required>
            <option value=""  disabled selected>Pays *</option>
            <option name="country" *ngFor="let obj of data" [value]="obj.alpha2Code">{{obj.name}}</option>
          </select>
        </div>

        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-money"></i></span>
            </div>
            <input class="form-control form-control-lg" placeholder=" Montant du don *" type="text" name="mnt" (focus)="focus=true"
                   (blur)="focus=false" ngModel required>
          </div>
        </div>

        <div class="form-group">
          <select class="form-control" id="devise" name="devise" ngModel required>
            <option value=""  disabled selected>Devise *</option>
            <option value="eur">Euro</option>
            <option value="usd">Dollar</option>
            <option value="xof">FCFA</option>
          </select>
        </div>


        <div class="card mb-3">
          <div class="card-body no-footer">
            <div class="row pt-2 pb-2">
              <div class="col-12">
                <ul class="nav nav-pills nav-fill mb-3">
                  <div class="nav-item w-100"> <i class="fa fa-credit-card"></i> Mode de paiement </div>
                  <li class="nav-item"><a href="#VI" class="nav-link"><i class="fa fa-dollar"></i> Virement </a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-money"></i> RIB </a></li>
                  <li class="nav-item"><a href="http://www.leetchi.com/fr/c/lRnG6vAl" target="_blank" class="nav-link"><i
                    class="fa fa-dollar"></i> Leetchi </a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="card-info">Card Info *</label>
          <div id="card-info" #cardInfo></div>
          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
        </div>
<br>

        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-info"></i></span>
            </div>
            <textarea class="form-control form-control-lg" placeholder="Un petit mot pour Friqya. (Optionnel)" name="comment"
                      type="text" (focus)="focus=true" (blur)="focus=false" ngModel></textarea>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-12">
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id="customCheckRegister" type="checkbox">
              <label class="custom-control-label" for="customCheckRegister">
                        <span>J’accepte de recevoir par email des informations de la part de FRIQYA.
                        </span>
              </label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success my-4">Envoyer le Don</button>
        </div>
      </form>
    </div>
  </div>
</section>

