<!--
<div class="fixed-sn">
  <div class="col-lg-12 ml-auto mr-auto">
    <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
      <mdb-slide>
        <img src="../../assets/img/home/slid1.jfif" width="100%">
        <div class="carousel-caption">
          <h4>Slide 1</h4>
          <p>Blalalalalallalal</p>
          <div class="btn-wrapper">
            <a  class="btn btn-info btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="fas fa-hand-holding-usd"></i></span>
              <span class="btn-inner--text">Faire Un Don</span>
            </a>
          </div>
        </div>
      </mdb-slide>
      <mdb-slide>
        <img src="../../assets/img/home/slid2.jfif" width="100%">
        <div class="carousel-caption">
          <h4>Slide 2</h4>
          <p>Blalalalalallalal</p>
          <div class="btn-wrapper">
            <a  class="btn btn-info btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="fas fa-hand-holding-usd"></i></span>
              <span class="btn-inner--text">Faire Un Don</span>
            </a>
          </div>
        </div>
      </mdb-slide>
      <mdb-slide>
        <img src="../../assets/img/home/slid3.jfif" width="100%">
        <div class="carousel-caption">
          <h4>Slide 3</h4>
          <p>Blalalalalallalal</p>
          <div class="btn-wrapper">
            <a  class="btn btn-info btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="fas fa-hand-holding-usd"></i></span>
              <span class="btn-inner--text">Faire Un Don</span>
            </a>
          </div>
        </div>
      </mdb-slide>
    </mdb-carousel>
  </div>
</div>

-->
<section class="section section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Lutte contre le COVID-19</h1>
        <p class="lead text-white mt-4">Un groupe de jeunes issus de plusieurs  pays d’Afrique sous le nom de FRIQYA, une action qui certes à elle seule ne saurait arrêter cette menace mais qui nous l’espérons pourra contribuer à freiner la propagation du virus et pourquoi pas, briser les chaînes de contamination.Il s’agit d’offrir aux populations les plus fragiles de certains pays africains (Côte d’Ivoire, Mali, Burkina, Sénégal et Tchad pour le moment) des produits de prévention et de premières nécessités dans la lutte actuelle, leur permettant ainsi de se conformer au même titre que chaque citoyen de la terre, aux mesures d’hygiène arrêtées par L’OMS.Des équipes de bénévoles ont décidé de donner de leur temps tout en prenant les précautions qu’il faut afin d’assurer la distribution dans les mesures d'hygiène nécessaires. Ils n’attendent que vous pour soutenir cet effort. </p>
        <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-bootstrap-carousel" class="btn btn-white mt-4" id="bl"> Faire Un Don</a>
      </div>
      <div class="col-lg-5 mb-lg-auto">
        <br><br><br><br>
        <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
        <ngb-carousel>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
            </ng-template>
          <ng-template ngbSlide>
            <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
          </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="card bg-success text-white">
  <div class="card-body display-1 row justify-content-center">Actualités</div>
</div>
<br>
<div class="row row-grid"  class="row justify-content-center">

  <div class="card" style="width: 18rem;  margin-left: 10px" >
    <img class="card-img-top" src="assets/img/images_friqya/dons/mali/1.jpeg" alt="Card image cap" height="200" width="10px">
    <div class="card-body">
      <h5 class="card-title">Don Mali</h5>
      <p class="card-text">Le don du Mali a ete reslisé le 10/10/10.</p>
      <a [routerLink]="['/news']" class="btn btn-success">plus de details</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-left: 10px">
    <img class="card-img-top" src="assets/img/images_friqya/dons/mali/2.jpeg" alt="Card image cap" height="200" width="10px">
    <div class="card-body">
      <h5 class="card-title">Don Senegal</h5>
      <p class="card-text">Le don du Senegal a ete reslisé le 10/10/10.</p>
      <a [routerLink]="['/news']" class="btn btn-success">plus de details</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;  margin-left: 10px">
    <img class="card-img-top" src="assets/img/images_friqya/dons/mali/3.jpeg" alt="Card image cap" height="200" width="10px">
    <div class="card-body">
      <h5 class="card-title">Don Ivoire</h5>
      <p class="card-text">Le don du Cote d Ivoire a ete reslisé le 10/10/10.</p>
      <a [routerLink]="['/news']" class="btn btn-success">plus de details</a>
    </div>
  </div>
</div>
<br><br><br>
<h3 style="text-align: center">FRIQYA EN CHIFFRE</h3>
<div class="row justify-content-center">

  <div style="width: 18rem;">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Nombre total de dons</h5>
            <span class="h2 font-weight-bold mb-0">5</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Depuis le mois pass</span>
        </p>
      </div>
    </div>
  </div>

  <div style="width: 18rem;">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Nombre de pays</h5>
            <span class="h2 font-weight-bold mb-0">5</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>



  <div style="width: 18rem;">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Nombre de donateur </h5>
            <span class="h2 font-weight-bold mb-0">250</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <div style="width: 18rem;">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Nombre de beneficiare</h5>
            <span class="h2 font-weight-bold mb-0">35</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
</div>
