

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="cmspage mtb-40">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Nous contacté</p>

  <!-- Name -->
  <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
         class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
         class="form-control mb-4" placeholder="E-mail">

  <!-- Subject -->
  <label>Sujet</label>
  <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="Faire un don" selected>Faire Un Don</option>
    <option value="Adhésion">Adhésion</option>
    <option value="Subjection">Subjection</option>
    <option value="Information">Information</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
              rows="3" placeholder="Message"></textarea>
  </div>

  <!-- Copy -->
  <mdb-checkbox [default]="true" class="mb-4">Envoie moi une copie de ce message</mdb-checkbox>

  <!-- Send button -->
  <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer</button>

</form>
<!-- Default form contact -->

        </div>
        </div>
        </div>
</section>
