<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="../../../assets/img/logo/logo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">
            <span class="nav-link-inner--text">Accueil</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">
            <span class="nav-link-inner--text">A Propos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/activity']">
            <span class="nav-link-inner--text">Activités</span>
          </a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Propos</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Equipe</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Missions</a>
            <a [routerLink]="['/login']" class="dropdown-item">Etre Benevol</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Actions</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Explication Général</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Rapports Hebdomadaires</a>
            <a [routerLink]="['/login']" class="dropdown-item">Temoignages</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Impacts</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Vidéos</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Photos & Graphiques</a>
          </div>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/landing']">
            <span class="nav-link-inner--text">News</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">
            <span class="nav-link-inner--text">Contact</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a  [routerLink]="['/donate']" class="btn btn-neutral btn-icon" id="bl">
            <span class="btn-inner--icon">
              <!--<i class="fa fa-cloud-download mr-2"></i>-->
            </span>
            <span class="nav-link-inner--text">Faire Un Don</span>
          </a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">
            <span class="nav-link-inner--text">Inscription</span>
          </a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">
            <span class="nav-link-inner--text">Connexion</span>
          </a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" (click)="logout()">
            <span class="nav-link-inner--text">Deconnecté</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
