<br><br><br><br><br><br>

<h1 class="display-1">Dons Mali</h1>
<ul id="thumbnailsListMali">
  <li *ngFor="let image of visibleImagesMali" >
    <a [routerLink] ="['/image', image.id]">
      <img src="{{image.url}}" class="tn" width="200" height="160">
    </a>
  </li>
</ul>


<h1  class="display-1">Dons Senegal</h1>
<ul id="thumbnailsListSenegal">
  <li *ngFor="let image of visibleImagesSenegal" >
    <a [routerLink] ="['/image', image.id]">
      <img src="{{image.url}}" class="tn" width="200" height="160">
    </a>
  </li>
</ul>
